 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     

 }


 .slider {
     position: relative;
     overflow: hidden;
     height: 70vh;
     width: auto;
     margin-top: 10px;
 }

 .slide {
     position: absolute;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     transition:  0.3s opacity ease-in-out ;
 }

 .slide.current {
     opacity: 1;
 }

 .slide:nth-child(1) {
     background-image: url(/img/school.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .slide:nth-child(2) {
     background-image: url(/img/market.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .slide:nth-child(3) {
     background-image: url(/img/sheep.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .slide:nth-child(4) {
     background-image: url(/img/windmills.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .slide:nth-child(5) {
     background-image: url(/img/school.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .slide:nth-child(6) {
     background-image: url(/img/church.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .slide .content {
     position: absolute;
     bottom: -400px;
     left: 15px;
     width: 400px;
     height: 100px;
     background-image: url(/img/noise-green.png);
     color: black;
     padding: 10px;
     
     
     

 }

 .slide .content h1 {
     margin-bottom: 10px;
     font-size:larger;
 }

 .slide .content p {
     font-size: medium;
 }

 .slide.current .content {
     opacity: 1;
     transform: translateY(-420px);
     transition: all 0.5s ease-in-out 0.5s;
 }

 .buttons button#next {
     position: absolute;
     top: 50%;
     right: 15px;
 }

 .buttons button#prev {
     position: absolute;
     top: 50%;
     left: 15px;
 }

 .buttons button {
     border: solid white 2px;
     background-color: black;
     color: #00ff22;
     cursor: pointer;
     padding: 13px 15px;
     outline: none;
     border-radius: 50%;
     box-shadow: 10px 10px 56px -2px rgba(0, 0, 0, 0.75);
     
 }

 .buttons button:hover {
     background-color: white;
     color: darkgray;
     transition: background-color 0.2s ease-in-out;
 }

 @media(max-width:500px) {
     .slide .content {
         bottom: -300px;
         left: 0;
         width: 100%;
     }

     .slide.current .content {
         transform: translateY(-300px);
     }


 }
