* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .base {
        display: block;
        position: relative;

        //header
        header { 

            
            nav {
                height: 120px;
                display: flex;
                padding: 10px 0px 0px 10px;

                //img
                .logo {
                    float: left;
                    align-items: center;
                    justify-self: center;
                    display: flex;
                    position: relative;

                    img {
                        height: 110px;
                        width: 403px;


                    }
                }

                //links
                .page-links {
                    list-style: none;
                    float: left;
                    display: flex;
                    position: absolute;
                    align-items: center;
                    left: 427px;
                    top: 95px;


                    li {
                        position: relative;

                        a {
                            list-style: none;
                            text-decoration: none;
                            color: black;
                            font-size: 18px;
                            font-family: Arial, Helvetica, sans-serif;
                            padding-right: 25px;

                        }


                        :active {

                            width: 60px;
                            height: 19px;
                            background-color: #00ff22;
                            padding-left: 3px;
                            position: relative;
                            font-size: 18px;
                            list-style: none;
                            text-decoration: none;
                            margin: 0 auto;
                            left: -3px;
                            bottom: 1px;
                            padding-bottom: -2px;
                            display: block;
                            text-align: center;
                            margin-right: 19px;


                        }


                        //home
                        .link-underliner-1 {
                            width: 60px;
                            height: 19px;
                            background-color: #00ff22;
                            box-sizing: border-box;
                            font-family: 'Arial Regular',
                                'Arial',
                                sans-serif;
                            display: block;
                            margin: 0 auto;
                            position: absolute;
                            bottom: 2px;
                            left: -3px;
                            z-index: -1;


                        }





                        //departments
                        .link-underliner-2 {
                            width: 140px;
                            height: 7px;
                            background-color: #00ff22;
                            box-sizing: border-box;
                            font-family: 'Arial Regular',
                                'Arial',
                                sans-serif;
                            display: block;
                            margin: 0 auto;
                            position: absolute;
                            bottom: 2px;
                            left: -3px;
                            z-index: -1;

                            :active {
                                width: 140px;
                                height: 19px;
                                background-color: #00ff22;
                                padding-left: 3px;
                                position: relative;
                                font-size: 18px;
                                list-style: none;
                                text-decoration: none;
                                margin: 0 auto;
                                left: -3px;
                                bottom: 1px;
                                padding-bottom: -2px;
                                display: block;
                                text-align: center;
                                margin-right: 19px;

                            }
                        }

                        //highlights
                        .link-underliner-3 {
                            width: 116px;
                            height: 7px;
                            background-color: #00ff22;
                            box-sizing: border-box;
                            font-family: 'Arial Regular',
                                'Arial',
                                sans-serif;
                            display: block;
                            margin: 0 auto;
                            position: absolute;
                            bottom: 2px;
                            left: -3px;
                            z-index: -1;

                        }

                        //investment
                        .link-underliner-4 {
                            width: 122px;
                            height: 7px;
                            background-color: #00ff22;
                            box-sizing: border-box;
                            font-family: 'Arial Regular',
                                'Arial',
                                sans-serif;
                            display: block;
                            margin: 0 auto;
                            position: absolute;
                            bottom: 2px;
                            left: -3px;
                            z-index: -1;

                        }

                        //contact-us
                        .link-underliner-5 {
                            width: 122px;
                            height: 7px;
                            background-color: #00ff22;
                            box-sizing: border-box;
                            font-family: 'Arial Regular',
                                'Arial',
                                sans-serif;
                            display: block;
                            margin: 0 auto;
                            position: absolute;
                            bottom: 2px;
                            left: -3px;
                            z-index: -1;

                        }

                    }

                }

                //search

                .search {
                    display: inline-block;
                    margin: 0 auto;
                    position: absolute;
                    right: 259px;



                    .search-box {
                        position: absolute;
                        display: inline-block;
                        margin: 0 auto;
                        top: 10px;
                        width: 249px;
                        height: 39px;
                        background: inherit;
                        background-color: rgba(255, 255, 255, 1);
                        box-sizing: border-box;
                        border-width: 1px;
                        border-style: solid;
                        border-color: rgba(121, 121, 121, 1);
                        border-top: 0px;
                        border-right: 0px;
                        border-radius: 5px;
                        border-top-left-radius: 0px;
                        border-bottom-right-radius: 0px;

                        input {
                            outline: none;
                            border: none;
                            position: relative;
                            top: 25%;
                            left: 12px;

                            ::placeholder {
                                font-size: 14px;

                                outline: none;
                            }

                        }



                    }

                    .search-logo {
                        position: absolute;
                        top: 25%;
                        right: 12px;
                        height: 20px;
                        width: 20px;
                    }

                }

                //social header
                .social-header {
                    margin: 0 auto;
                    display: flex;
                    height: fit-content;
                    position: absolute;
                    top: 84px;
                    right: 10px;

                    .header-icon {
                        padding: 10px;
                    }


                }


            }



        }

        /* 
        // slideshow
    */

        //governor
        .governor {
            height: 549px;
            display: block;
            position: relative;
            width: 90%;
            margin: auto;

            .bkg-text {
                font-size: 104px;
                text-align: center;
                color: rgba(69, 255, 187, 0.082);
            }

            img {
                height: 450px;
                float: right;
                position: relative;
                top: -45px;
                background-image: url(/img/noise-white.png);

            }

            .gov-title {
                color: #07203f;
                padding-bottom: 10px;

            }

            .gov-from {
                color: #124281;
                padding: 8pX 0px;

            }

            p {
                width: 600px;
                line-height: 1.6;


            }

            .quote {
                .quote-icon {
                    font-size: xx-large;
                    padding-right: 10px;
                }

                p {
                    text-indent: 0px;
                    height: fit-content;



                }

                .quoted-text {
                    font-size: 16px;
                    width: 520px;
                    margin: 40px;
                    padding: 20px;
                    font-style: italic;
                    background-image: url(/img/noise-green.png);

                }


            }


        }


        //investment
        .section-1 {
            background-color: white;
            height: 519px;
            width: 100%;
            display: block;
            position: relative;
            margin-top: 142px;

            .section-title {
                text-align: center;
                display: inline;
                font-family: 'Arial Regular', 'Arial', sans-serif;
                color: rgba(0, 133, 85, 0.07);


                p {
                    font-size: 86px;
                    color: rgba(0, 133, 85, 0.07);

                }

            }


            .section-bkg {
                width: 100%;
                height: 456px;
                display: block;
                background-color: #032418;
                opacity: 82%;
                position: absolute;
                top: 62px;
                left: 0px;
                color: white;
                z-index: 7;

                .section-title-2 {
                    width: 563px;
                    height: 48px;
                    display: flex;
                    background-color: rgba(255, 255, 255, 0);
                    color: #ffffff;
                    position: absolute;
                    font-family: 'Roboto Medium',
                        'Roboto',
                        sans-serif;
                    top: 72px;
                    white-space: nowrap;


                    p {
                        position: relative;
                        left: 476px;
                        font-size: 40px;
                        font-weight: 500;
                        text-align: center;


                    }

                    span {
                        position: relative;
                        left: 486px;
                        font-size: 40px;
                        font-weight: 500;
                        text-align: center;
                        color: #11FFAB;

                        .underliner-invest {
                            color: white;
                            width: 109px;
                            height: 7px;
                            font-family: 'Arial Regular',
                                'Arial',
                                sans-serif;
                            display: block;
                            margin: 0 auto;
                            position: relative;
                            top: -15px;
                            background-color: white;
                            z-index: -1;
                        }

                    }


                }

                .section-icons {

                    position: absolute;
                    margin: 0 auto;
                    top: 40%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 0 62px;
                    left: 180px;
                    z-index: 4;

                    .icon-area {
                        width: 178px;
                        height: 138px;
                        display: block;
                        margin: 0 auto;
                        position: relative;

                        .section-icon {
                            position: absolute;
                            left: 30px;
                            z-index: 5;

                            img {
                                display: block;
                                width: 108px;
                                height: 104px;
                                position: absolute;
                            }
                        }

                        p {
                            display: block;
                            background-color: rgba(255, 255, 255, 0);
                            font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
                            font-weight: 500;
                            color: white;
                            text-align: center;
                            font-size: 27px;
                            position: relative;
                            top: 160px;
                        }
                    }

                }

                .section-1-bkg {
                    background-image: url(/img/school.jpg);
                    height: 456px;
                    width: 100%;
                    position: absolute;
                    z-index: -10;
                    color: #032418;
                    opacity: 20%;



                }

            }

        }


        //departments

        .section-2 {
            background-color: white;
            height: 519px;
            width: 100%;
            display: block;
            position: relative;
            margin-top: 142px;

            .section-title {
                text-align: center;
                display: inline;
                font-family: 'Arial Regular', 'Arial', sans-serif;
                color: rgba(0, 133, 85, 0.07);
                display: grid;

                p {
                    font-size: 86px;
                    color: rgba(0, 133, 85, 0.07);

                }



            }

            .tiles {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                height: 195px;
                top: 30%;
                width: 100%;
                position: absolute;
                gap: 0 px;
                margin: 0 auto;


                .tile {
                    display: block;
                    margin: 0 auto;
                    height: 195px;
                    width: 267px;
                    position: relative;


                    .tile-bkg-1 {
                        background-image: url(/img/lion.jpg);
                        background-size: 195px 267px;
                        ;
                        height: 195px;
                        width: 267px;
                        position: absolute;
                        background-color: rgba(8, 103, 69, 0.5);
                        opacity: 20%;
                        border-radius: 10px;


                    }

                    .tile-bkg-2 {
                        background-image: url(/img/market.jpg);
                        background-size: 195px 267px;
                        ;
                        height: 195px;
                        width: 267px;
                        position: absolute;
                        background-color: rgba(8, 103, 69, 0.5);
                        opacity: 20%;
                        border-radius: 10px;


                    }

                    .tile-bkg-3 {
                        background-image: url(/img/sheep.jpg);
                        background-size: 195px 267px;
                        ;
                        height: 195px;
                        width: 267px;
                        position: absolute;
                        background-color: rgba(8, 103, 69, 0.5);
                        opacity: 20%;
                        border-radius: 10px;


                    }

                    .tile-bkg-4 {
                        background-image: url(/img/church.jpg);
                        background-size: 195px 267px;
                        ;
                        height: 195px;
                        width: 267px;
                        position: absolute;
                        background-color: rgba(8, 103, 69, 0.5);
                        opacity: 20%;
                        border-radius: 10px;


                    }

                    p {
                        display: block;
                        font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
                        font-weight: 500;
                        color: black;
                        text-align: center;
                        font-size: 27px;
                        position: relative;
                        top: 160px;




                    }

                }
            }

        }
    }















    //footer
    .container {
        width: 1264px;
        height: 549px;
        color: #007a13;
        position: relative;

        .bkg-img {
            position: absolute;
        }

        .content {
            position: absolute;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 49px 63px auto 63px;
            gap: 95px 0px;

            .about-us {
                margin-left: 24px;
                display: inline-block;

                h2 {
                    display: inline;
                    background-color: rgba(255, 255, 255, 0);
                    font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
                    font-weight: 500;
                    color: white;
                    text-align: left;
                    font-size: 33px;

                }

                p {
                    background-color: rgba(255, 255, 255, 0);
                    font-family: 'Arial Regular', 'Arial', sans-serif;
                    color: #d1d1d1;
                    text-align: left;
                    display: inline-block;
                    font-size: 16px;
                    margin-top: 12px;
                }
            }

            .contact-us-footer {
                margin-left: 24px;
                display: inline-block;

                h2 {
                    display: inline;
                    background-color: rgba(255, 255, 255, 0);
                    font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
                    font-weight: 500;
                    color: white;
                    text-align: left;
                    font-size: 33px;

                }

                .submit-box {
                    width: 359px;
                    height: 37px;
                    background-color: #ffffff;
                    font-family: 'Arial Regular', 'Arial', sans-serif;
                    color: #333333;
                    display: inline-block;
                    margin-top: 11px;

                }

                .submit-btn {
                    background-color: #00ff22;
                    font-family: 'Arial Regular', 'Arial', sans-serif;
                    color: #333333;
                    text-align: center;
                    font-size: 20px;
                    display: inline-block;
                    padding: 3px 33px;
                    border: 1px solid rgba(121, 121, 121, 0);
                    margin-top: 10px;
                }


            }

            .addresses {
                margin-left: 24px;
                display: inline-block;

                h2 {
                    display: inline;
                    background-color: rgba(255, 255, 255, 0);
                    font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
                    font-weight: 500;
                    color: white;
                    text-align: left;
                    font-size: 33px;

                }

                p {
                    background-color: rgba(255, 255, 255, 0);
                    font-family: 'Arial Regular',
                        'Arial',
                        sans-serif;
                    color: #d1d1d1;
                    text-align: left;
                    display: inline-block;
                    font-size: 16px;
                    margin-top: 12px;
                }
            }

            .motto {
                margin-left: 24px;
                display: inline-block;

                h2 {
                    display: inline;
                    background-color: rgba(255, 255, 255, 0);
                    font-family: 'Roboto Medium', 'Roboto Regular', 'Roboto', sans-serif;
                    font-weight: 500;
                    color: white;
                    text-align: left;
                    font-size: 33px;

                }

                p {
                    background-color: rgba(255, 255, 255, 0);
                    font-family: 'Arial Regular', 'Arial', sans-serif;
                    color: #d1d1d1;
                    text-align: left;
                    display: inline-block;
                    font-size: 16px;
                    margin-top: 12px;
                }

            }

            .important-links {
                margin-left: 24px;
                display: inline-block;

                h2 {
                    display: inline;
                    background-color: rgba(255, 255, 255, 0);
                    font-family: 'Roboto Medium',
                        'Roboto Regular',
                        'Roboto',
                        sans-serif;
                    font-weight: 500;
                    color: white;
                    text-align: left;
                    font-size: 33px;
                }

                li {
                    list-style: none;
                }

                a {
                    background-color: rgba(255, 255, 255, 0);
                    font-family: 'Arial Regular', 'Arial', sans-serif;
                    color: #d1d1d1;
                    text-align: left;
                    display: inline-block;
                    font-size: 16px;
                    margin-top: 12px;
                    text-decoration: underline;

                }

            }

            .socials {
                margin-left: 24px;
                display: inline-block;

                h2 {
                    display: inline;
                    background-color: rgba(255, 255, 255, 0);
                    font-family: 'Roboto Medium',
                        'Roboto Regular',
                        'Roboto',
                        sans-serif;
                    font-weight: 500;
                    color: white;
                    text-align: left;
                    font-size: 33px;

                }

                .social-icons {

                    height: 34px;
                    width: 34px;
                    color: white;
                    margin-top: 12px;
                    font-size: 18px;
                }

            }

        }

    }
}